* {
	font-family: "Courier New", monospace;
}

html, body {
	margin: 0;
	height: 100%;
}


#menu-section {	
	z-index: 10;
	
	font-size: 25px;
	font-weight: bold;
}

#menu-section #user-section {
	background-color: #222;
	
	padding: 5px;
}



#menu-section nav {
	background-color: #111;
}

#menu-section nav ul {
	list-style-type: none;
	
	padding: 0;
	margin: 0;
}

#menu-section nav ul li { 
}

#menu-section nav ul li a {
	display: block;
	
	padding-left: 5px;

	text-decoration: none;
	color: white;	
	
	transition: 1.0s;
}

#menu-section nav ul li a:hover {
	background-color: red;
	
	transition: 0.0s;
}

#page-section {
	border-left: 15px solid red;
	border-right: 15px solid red;

	padding: 20px;
	
	overflow-y: scroll;
}

/* Computer screen  */
@media only screen and (min-width: 600px) {
	body {
		display: flex;
		flex-direction: row;
	}
	
	#menu-section {
		display: flex;
		flex-direction: column;
		
		height: 100%;
		width: 200px;
	}
	
	#menu-section #user-section {
		height: auto;
	}

	#menu-section nav {
		flex: 1;
	}
	
	#menu-section nav ul {	
	}
	
	#page-section {
		flex: 1;
	}
}

/* Smartphoe screen */
@media only screen and (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
	}
	
	#menu-section {
		display: flex;
		flex-direction: column;
		
		width: 100%;
		height: auto;
	}
	
	#menu-section nav {
		height: auto;
	}
	
	#menu-section nav ul {	
		display: flex;
		flex-direction: row;
		
		overflow-x: scroll;
	}
	
	#menu-section nav ul li {
		width: auto;
		
		padding: 10px;
	
		border-right: 2px solid gray;
	}
	
	#page-section {
		flex: 1;
	}
	
}


.ordinary-container {
	border: 4px solid gray;
	
	padding: 20px;
}

/* new-post.html */

#post-code-canvas-container {	
	width: auto;
	height: auto;
	
	display: flex;
	justify-content: center;
	
	background-color: #AAA;
	border: 4px solid #AAA;
	
}

#post-code-canvas-container canvas {
	height: 200px;
	width: 200px; 
	
	background-color: white;
}

#post-code-input-container {
	width: 100%;
}

.verical-scroll-textarea {
	resize: vertical;
	
	overflow-y: scroll;
	
}

.flexrow-container {
	display: flex;
	flex-direction: row;
}

.flexcol-container {
	display: flex;
	flex-direction: column;
}


.infinity-scroll-list {
	padding: 5px;
	list-style-type: none;
	
	overflow-y: scroll;
}

.infinity-scroll-list li {
	border: 5px solid gray;
	box-shadow: 5px 5px 5px red;
	
	padding: 25px;
	margin: 0px;
}